
config EDM
	bool
	default n

config EDM_EXPANSION
	bool
	default n

config EDM_BASEBOARD_WAND
	tristate "Support for Wand baseboard"
	depends on EDM
	default y
	select EDM_EXPANSION
	help
	  Include support for the devices on the default wand baseboard.

          If you have a standard Wandboard, say Y.

config EDM_EXPANSION_FWBADAPT
	tristate "Support for Future WandBoard expansion board"
	depends on EDM_EXPANSION
	default n
	select TOUCHSCREEN_PRISM
	help
	  Include support for Future WandBoard Adapter FWBADAPT-7WVGA (TN55) with Prism touchscreen and 7" WVGA

